<mat-toolbar
  *ngIf="mostrarSideNavESideBar()"
  color="primary"
  [ngStyle]="{ display: cssDisplay }"
>
  <a class="menu--toggle">
    <img
      alt=""
      src="../assets/icons/menu.png"
      width="30"
      height="30"
      id="img-menu"
      (click)="animacaoRotacionarSetaAbrirMenu(); sidenav.toggle()"
    />
  </a>

  <span style="padding-left: 43%">J81 CONSTRUÇÕES</span>
  <span style="padding-left: 42%; font-size: 70%;">Versão: 1.0.0</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    mode="over"
    #sidenav="matSidenav"
    [ngStyle]="{ display: cssDisplay }"
  >
    <button mat-button class="menu-button" (click)="goToHomePage()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <mat-divider style="background-color: #ffffffcf"></mat-divider>
    <button mat-button class="menu-button" (click)="gotToFornecedoresPage()">
      <mat-icon></mat-icon>
      <span>Fornecedores</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: white;">
    <div [ngClass]="cssContentContainer">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
